@import url('https://fonts.googleapis.com/css?family=Roboto:700');

* {
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: .8em;
}
.wrapper{
  // background: #3C99DC;
  background: linear-gradient(to bottom, #2565AE, lightblue);
  width: 100%;
  // height: 100vh;
  height: 550px;
  margin: 0 auto;
  overflow:auto;
  padding-bottom: 20px;
  padding-top: 30px;
  overflow: auto;
}
@media (min-width: 468px) { 
  .wrapper{
    height: 100vh;
  }
 }

.heading-container{
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: #2565AE;
  align-items: center;
  margin-bottom: 15px;
  border: 2px solid #0F5298;
}
@media (max-width: 768px) { 
  .heading-container{
    width: 100%;
  }
 }
 
.main-heading{
  box-sizing: border-box;
  margin: 10px;
  color: white;
  font-size: 2.1em;
}
@media (max-width: 576px) { 
  .main-heading{
    font-size: 1.9em;
  }
 }
 

.legend{
  border-radius: 100%;
  color: darkgrey;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border: 4px solid #2565AE;
  background: floralwhite;
}

.fieldSet{
  margin: auto;
  width: 100%;
  padding: 10px;
  border: 6px solid white;
}
@media (min-width: 576px) { 
  .fieldSet{
    width: 50%;
  }
 }

table{
  box-sizing: border-box;
  background: cornsilk;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.th{
  background: blueviolet;
}

th,td{
  padding: 5px;
  
}

th{
  text-align: left;
  background: burlywood;
  
}

.info-flex{
  
  display: flex;
  /* flex-direction: column; */
}
.rowHeader{
  background:orange;
}
.m1{
  margin: 5px;
}

.zip-form{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.zip-form input{
  padding: 3px;
  max-width: 200px;
  height: 35px;
  font-size: 20px;
}
#zip-msg{
  color: #fa8787;
  font-size: 12px;
  width: 100%;
  text-align: center;
  // padding:10px;
}

.radius-1{
  border-radius: 4px;
}
.radius-pill{
  border-radius: 20px;
}
.fa-clinic-medical {
  color: turquoise;
}
.active{
  background-color:green;
}

// ACCORDION ****************
#accordion-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  width: 100%;
  transition: 0.4s;
  text-align: center;
}

// buttons
.accordion {
  background-color: #0F5298;
  color: #D5F3FE;
  cursor: pointer;
  padding: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  font-weight: bolder;
  border-bottom: 1px solid royalblue;
}
.no-filter-match{
  background: whitesmoke;
  color: #d33c3c;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5em;
  width: 72%;
  margin: 0 auto;
}
.no-filter-match:after{
  content: '\274c';
  color: #d33c3c;
  padding-top: 9px;
  float: right;
  font-size: .5em;
}
.accordion:after {
  content: '\002B';
  color: #D5F3FE;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}

@media (min-width: 576px) { 
  #accordion-div{
    width: 70%;
  }
 }

.active {
  background-color: #2565AE; 
}

.panel {
  color:#0F5298;
  background-color: #D5F3FE;
  width: 100%;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-right: 3px;
  text-align: left;
  border-radius: 3px;
}
.panel p {
  padding:5px;
  margin: 0 10px;
  font-size: medium;
  font-weight: 500;
  text-align: left;
}

footer{
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color:#007bff;
  color: white;
  text-align: center;
}
footer a{
  color: white;
  text-decoration: none;
}
